<!DOCTYPE html>
<html>
<head>
  <title>Handelatnewberry</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Muli|Julius+Sans+One|Josefin+Slab' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="header-wrapper bgc-berry z-index pos-r">
    <header class="container header bcg-berry z-index pos-r">
      <div class="c-light f-l fz-xlg f-julius p-sm"><strong>Handel at Newberry</strong></div>
      </div>
      <div class="image z-index pos-r"></div>
    </header>
  </div>

  <div class="page"></div>
  <div class="navbar-wrapper bgc-fog">
    <div class="container">
      <nav class="navbar bgc-fog f-serif navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed bgc-berry" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bgc-fog"></span>
              <span class="icon-bar bgc-fog"></span>
              <span class="icon-bar bgc-fog"></span>
            </button>
          <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="fz-lg pt-std"><%= link_to 'about', about_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle fz-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">assignments<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% @assignments.each do |assignment| %>
                  <li><%= link_to assignment.date, assignment_path(assignment) %></li>
                <% end %>
              </ul>
            </li>
            <li class="fz-lg pt-std"><%= link_to 'contact', about_path %></li>
          </ul>
        </div>
        </div>
      </nav>
    </div>
  </div>


  <%= yield %>

  <footer class="footer f-julius">
    <div class="copyright f-r fz-m pt-m pr-m">
      Copyright &copy; 2016 Regina Frances Compton
    </div>
  </footer>
</body>
</html>
